body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#banner {
    font-family: 'Lucida Sans Unicode',Verdana, Helvetica, Arial, sans-serif;
    margin-left: 10px;
}

#banner img {
    float: left;
    margin-top: -15px;
    margin-right: 5px;
}

#banner #title {
    font-size: 1.3em;
    font-weight: lighter;
}

#banner #subtitle {
    color: #3674AE;
}

#banner a {
    text-decoration: none;
    color: black;
}

#logo {
    padding: 10px;
    width: 60%;
}

.container {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}