/* line 47, ../sass/slide_out_panel.sass */
.slide {
  -webkit-transform: translate(-400px, 0px);
  -moz-transform: translate(-400px, 0px);
  -ms-transform: translate(-400px, 0px);
  -o-transform: translate(-400px, 0px);
  transform: translate(-400px, 0px);
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  transition: .400s ease-in;

}

/* line 50, ../sass/slide_out_panel.sass */

/* line 60, ../sass/slide_out_panel.sass */
#slideout #slideoutTab {
  position: relative;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  float:right;
  display: block;
  transition: .300s ease-in;

}
/* line 69, ../sass/slide_out_panel.sass */
#slideout #slideoutTab a {
  position: fixed;
  height: auto;
  font-weight: bold;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-left-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-top-right-radius: 9px;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
/* line 80, ../sass/slide_out_panel.sass */
#slideout #slideoutTab a:hover {
  -webkit-transform: translate(0px, -5px);
  -moz-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
      -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
}
/* line 83, ../sass/slide_out_panel.sass */

/* line 92, ../sass/slide_out_panel.sass */
#slideout #slideoutForm label {
  display: block;
}
/* line 94, ../sass/slide_out_panel.sass */
#slideout #slideoutForm input, #slideout #slideoutForm textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 96, ../sass/slide_out_panel.sass */

